In [1]:
!curl https://raw.githubusercontent.com/Luc-Bertin/TDs_ESILV/master/td3_discover_pandas/notes_eleves.csv -o "notes.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 21979  100 21979    0     0  21979      0  0:00:01 --:--:--  0:00:01  171k

In [2]:
df_notes = pd.read_csv("notes.csv", index_col=0)
# showing just the first n rows
df_notes.head(5)
# or the last n rows
df_notes.tail(5)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [6]:
df_notes = pd.read_csv("notes.csv", index_col=0)
# showing just the first n rows
df_notes.head(5)

    eleve     note   groupe quizz
0  eleve0  71,43 %  Unknown   td1
1  eleve1    100 %  Unknown   td1
2  eleve4  71,43 %  Unknown   td1
3  eleve6  42,86 %  Unknown   td1
4  eleve8  57,14 %  Unknown   td1

In [7]:
# or the last n rows
df_notes.tail(5)

        eleve     note groupe quizz
741  eleve174    100 %   ibo5   td3
742  eleve166  66,67 %   ibo5   td3
743  eleve176  83,33 %   ibo5   td3
744  eleve186    100 %   ibo5   td3
745  eleve196  66,67 %   ibo5   td3

In [8]:
def function(val):
    """A fonction to be applied on each element of a pandas DataFrame column / Series """
    # we need to return a value for each element computation
    return val.upper()

In [9]:
df_notes.eleve.apply(function) # the function applies on each value in the column

0        ELEVE0
1        ELEVE1
2        ELEVE4
3        ELEVE6
4        ELEVE8
         ...
741    ELEVE174
742    ELEVE166
743    ELEVE176
744    ELEVE186
745    ELEVE196
Name: eleve, Length: 746, dtype: object

In [10]:
df_notes

        eleve     note   groupe quizz
0      eleve0  71,43 %  Unknown   td1
1      eleve1    100 %  Unknown   td1
2      eleve4  71,43 %  Unknown   td1
3      eleve6  42,86 %  Unknown   td1
4      eleve8  57,14 %  Unknown   td1
..        ...      ...      ...   ...
741  eleve174    100 %     ibo5   td3
742  eleve166  66,67 %     ibo5   td3
743  eleve176  83,33 %     ibo5   td3
744  eleve186    100 %     ibo5   td3
745  eleve196  66,67 %     ibo5   td3

[746 rows x 4 columns]